geo
png
shp
topo
node_modules
ne_10*
cta-sup
na-rail-*.geojson
na-rail-*.json
/data/rail/
/data/ports/
/data/warehouses/
/etc/chef/tmp
/etc/chef/cookbooks/el
/etc/chef-cache
/local
/data
/.vagrant
*.swp
*.db
/scratch
