<div id="map"></div>
<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
    <li><a tabindex="-1" class="details">View Details</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" class="edit">Edit</a></li>
</ul>
[% INCLUDE 'js/el.tt' %]
[% INCLUDE 'edit-modals.tt' %]
