<div class="modal-header">
    [% jsfiles() %]
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="[% page_id %]">[% meta.title %]</h4>
</div>
<div class="modal-body">
    [% content %]
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
