<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/el.css" type="text/css" />
    <title>Empire Logistics</title>
</head>

<body>
<div id="control-bar">
[% INCLUDE 'topnav.tt' %]
[% FOREACH alert IN c.stash.alert %]
  <div class="alert alert-[% alert.class %]">[% alert.message %]</div>
[% END %]
</div>
[% content %]
</body>
</html>
