@import url(http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css);

html,body,#map
{
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}

body
{
    background-color:#ddd;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0;
    overflow:hidden;
}

path
{
    fill:none;
    stroke-linecap:round;
}

path.rail-line
{
    fill:none;
    stroke:#000;
    stroke-linejoin:round;
    stroke-width:4.0;
}

path.rail-interline
{
    fill:goldenrod;
    stroke:goldenrod;
    stroke-linejoin:round;
    stroke-width:4.0;
}
.rail-line {
    z-index: 0;
}
.rail-interline {
    z-index: 1;
}
.port {
    z-index: 2;
}
.warehouse {
    z-index: 3;
}
.rail-node {
    z-index: 4;
}
